/*------- ESTILOS INICIALES -------*/

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}

.container {
    width: 90%;
    max-width: 1638px;
    margin: auto;
    overflow: hidden;
}

.boton-negro {
    background-color: #2b3137;
    color: #fff;
    font-size: 16px;
    border: solid 1px #906D4A;
    border-radius: 20px;
    padding: 15px 12px;
    text-decoration: none;
}

.boton-negro:hover{
    text-decoration: underline;
    background-color: #000;
}

.titulos-secciones{
    font-size: 2.2em;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

/* ------- HEADER ------- */

header {
    background-image:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url(../img/jezael-melgoza-KbR06h9dNQw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-height: 1080px;
}

header .menu-logo {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .menu-logo a {
    color: #ccc;
    font-weight: normal;
    font-size: 1em;
    text-decoration: none;
    margin: 0 20px;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

header .menu-logo .menu a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
}

header .tarjeta-blanca {
    width: 100%;
    max-width: 1084px;
    max-height: 742px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 28px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 125px;
    color:#fff;
    overflow: hidden;
}

header .tarjeta-blanca .foto-tarjeta-blanca {
    flex: 1 1 auto;
    width: 50%;
}

header .tarjeta-blanca .foto-tarjeta-blanca img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

header .info-tarjeta-blanca {
    flex: 1 1 auto;
    width: 50%;
    padding: 0px 5%;
    vertical-align: top;
}

header h1{
    font-size: 3em;
    font-weight: 300;
}

header h2 {
    font-size: 2em;
    font-weight: 250;
}

header p {
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
}

header .redes-sociales {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header .redes-sociales .facebook {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #1877f2;
    color: #fff;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 10px 28px 20px 0px;
}

header .redes-sociales .twitter {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #1da1f2;
    color: #fff;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 10px 28px 20px 0px;
}

header .redes-sociales .instagram {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #ae316b;
    color: #fff;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 10px 28px 20px 0px;
}

header .redes-sociales .youtube {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 10px 28px 20px 0px;
}

header .redes-sociales .github {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #2b3137;
    color: #fff;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 10px 28px 20px 0px;
}

header .redes-sociales .whatsapp {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #009688;
    color: #fff;
    text-align: center;
    vertical-align: top;
    padding: 10px 5px 5px 5px;
    margin: 10px 10px 20px 0px;
}

header .redes-sociales .facebook:hover {
    background-color: #fff;
    color: #1877f2;
}

header .redes-sociales .twitter:hover {
    background-color: #fff;
    color: #1da1f2;
}

header .redes-sociales .instagram:hover {
    background-color: #fff;
    color: #ae316b;
}

header .redes-sociales .youtube:hover {
    background-color: #fff;
    color: #ff0000;
}

header .redes-sociales .github:hover {
    background-color: #fff;
    color: #2b3137;
}

header .redes-sociales .whatsapp:hover {
    background-color: #fff;
    color: #009688;
}

/* ------- ACERCA DE MÍ -------*/

.main-acerca-de-mi {
    background-color: #f2f2f2;
}

.main-acerca-de-mi .container {
    background-color: #f2f2f2;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    width: 80%;
}

.main-acerca-de-mi .container .acerca-de-mi .titulos-secciones {
    font-size: 2.2em;
    font-weight: 300;
}

.main-acerca-de-mi .container .acerca-de-mi p {
    width: 90%;
    font-size: 1.5em;
    font-weight: 300;
    align-self: center;
    margin-bottom: 45px;
}

.main-acerca-de-mi .container .acerca-de-mi-img img{
    vertical-align: top;
    border: solid 1px #ccc;
    opacity: 0.5;
    cursor: pointer;
    border: none;
}

.main-acerca-de-mi .container .acerca-de-mi-img p {
    text-align: center;
}

.main-acerca-de-mi .container .acerca-de-mi-img img:hover{
    opacity: 1;
    border: solid 1px #fff;
}


/* ------- CONTENIDO DE VIDEOS ------- */

.main-contenido .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-contenido .container .titulos-secciones {
    font-size: 2.2em;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.main-contenido .container .seccion-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.main-contenido .container .resto-videos {
    padding-top: 0;
    padding-left: 5%;
}

.main-contenido .container .resto-videos img {
    margin-bottom: 50px;
}

/* ------- SECCIÓN DE VIAJES ------- */

.main-viajes  {
    background-color: #f2f2f2;
    padding: 80px 0;
}

.main-viajes .titulos-secciones {
    width: 100%;
}


.main-viajes .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-viajes .container .titulos-secciones {
    font-size: 2.2em;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.main-viajes .container .viajes-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-viajes .container .viajes {
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ccc;
    width: 400px;
    height: auto;

}

.main-viajes .container .viajes .thumb img{
    width: 100%;
}

.main-viajes .container .viajes .texto-viaje .titulo-viaje {
    text-align: center;
}

.main-viajes .container .viajes .texto-viaje .extracto {
    padding: 0 5%;
    font-weight: 300;
    font-size: 0.8em;
}

.main-viajes .container .viajes .texto-viaje  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-viajes .container .viajes .texto-viaje .contenedor-boton-negro {
    align-self: center;
    padding: 5%;
    margin-bottom: 15px;
}


