.mapa {
    width: 100%;
    overflow: hidden; //Con overflow:hidden; quitamos el exceso del mapa; así nuestra página no puede scrollear de manera horizontal

    iframe {
        width: 100%;
        height: 600px;
    }
}