* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Questrial', sans-serif;
    font-size: 21px;
}

.contenedor {
    width: 500px;
    margin: 40px auto;
}

.formulario .contenedor-inputs {
    background-color: #fff;
    margin: 20px;
    border-radius: 15px 15px 0 0;
    padding: 20px;
}

.formulario input[type="text"],
.formulario input[type="email"] {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Questrial', sans-serif;
    font-size: 21px;
    outline: none;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus {
    border-bottom: 2px solid #246eb6;
}

.formulario input[type="radio"]{
    display: none;
}

.formulario .sexo {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.formulario .label-radio {
    background-color: rgba(249, 160, 63, .4);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 49%;
    cursor: pointer;
    border-radius: 3px;
}

.formulario [type="radio"]:checked + .label-radio {
    background-color: rgba(249, 160, 63);
}

.formulario .terminos {
    text-align: center;
    color: #424242;
}

.formulario .terminos label {
    text-align: center;
    cursor: pointer;
}

.formulario .error {
    /* display: none; */
    margin-top: 20px;
    border-radius: 3px;
    background-color: red;
    color: #fff;
    padding: 15px 10px;
    padding-left: 40px;
}

.formulario .btn {
    width: 100%;
    text-align: center;
    background-color: #246eb9;
    color: #fff;
    border: none;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 7px 7px;
    font-family: 'Questrial', sans-serif;
    font-style: 21px;
}

.formulario .btn:hover {
    background-color: teal;
}